<div class="col">
	<li class="text-left align-items-center">
		<span class="background bg-white text-dark">
			{{id}}.
			{{burger_name}}

		</span>

		{{#unless devoured}}

		<button class="devour btn btn-dark" data-id="{{id}}">
			Devour it!
		</button>
		{{/unless}}

	</li>

</div>
<div class="col">
</div>